<a href="/products/{{ product.handle }}"> 
	<div class="product-card">
		<div class="product-image">
		  {{ product | image_url: width: 239 | image_tag: width: 239 }}
		</div>
		<p class="product-collection">
		  {{ product.collection }}
		</p>
		<h4 class="product-title">
		  {{ product.title }}
		</h4>
		<div class="product-price">
			{% if product.compare_at_price > product.price %}
				<h2 class="compare-at-price">
					{{ product.compare_at_price | money }}
				</h2>
		  	{{ product.price | money }}
			{% else %}
		  	{{ product.price | money }}
			{% endif %}
		</div>
	</div>	  
</a>
