<footer class="footer">
  <div class="footer-container">
			<h4 class="footer-title">
        {{ section.settings.brand_name }}
      </h4>
      <h5 class="footer-description">
        {{ section.settings.footer_description }}
      </h5>
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'footer_menu' %} 
            <div class="footer-menu">
              <ul class="secondary-menu">
                <p>{{ block.settings.menu_links.title}}</p>
                  {% for link in block.settings.menu_links.links %}
                      <li>
                        <a href="{{ link.handle }}" class="text-gray-700 transition hover:opacity-75">
                          {{ link.title }}
                        </a>
                      </li>
                  {% endfor %}
              </ul>
            </div>
          {% when 'footer_social' %}
            <div class="footer-social">
              <ul>
                {% if block.settings.title == "twitter" %}
                  <li class="social-icon">
                    {% render 'icon-twitter' %}
                  </li>
                {% endif %}
                {% if block.settings.title == "facebook" %}
                  <li class="social-icon">
                    {% render 'icon-facebook' %}
                  </li>
                {% endif %}
                {% if block.settings.title == "instagram" %}
                  <li class="social-icon">
                    {% render 'icon-instagram' %}
                  </li>
                {% endif %}
              </ul>
            </div>
          {% endcase %}
        {% endfor %}
      <small className='website-rights'>© 2023, Lautaro's Store Powered by Shopify</small>
    </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "brand_name",
        "label": "Brand Name",
        "default": "BrandName"
      }, {
        "type": "text",
        "id": "footer_description",
        "label": "Description",
        "default": "Description"
      }
    ],
    "blocks": [
      {
        "type": "footer_menu",
        "name": "Menu Links",
        "limit": 3,
        "settings": [
          {
            "type": "link_list",
            "id": "menu_links",
            "label": "Links"
          }
        ]
      }, {
        "type": "footer_social",
        "name": "Social",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Social Title"
          }, {
            "type": "url",
            "id": "link",
            "label": "Social Link"
          }
        ]
      }
    ]
  }
{% endschema %}

    