<footer class="footer">
  <div class="footer-container">
    <div class="title-social-wrapper">
      <div class="title-description">
        <a href="{{ routes.root_url }}" class="footer-title">
          {{ section.settings.brand_name }}
        </a>
        <h5 class="footer-description">
          {{ section.settings.footer_description }}
        </h5>
      </div>
      <div class="footer-social">
        {% for block in section.blocks %}
            {% if block.type == 'footer_social' %}
                {% if block.settings.title == "twitter" %}
                  <a href="{{ link.handle }}" class="social-icon">
                    {% render 'icon-twitter' %}
                  </a>  
                {% endif %}
                {% if block.settings.title == "facebook" %} 
                  <a href="{{ link.handle }}" class="social-icon">
                    {% render 'icon-facebook' %}
                  </a>  
                {% endif %}
                {% if block.settings.title == "instagram" %}
                  <a href="{{ link.handle }}" class="social-icon">
                    {% render 'icon-instagram' %}
                  </a>  
                {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
      <div class="footer-menu">
        {% for block in section.blocks %}
          {% if block.type == 'footer_menu' %}
              <ul class="secondary-menu">
                <h3 class="menu-title">{{ block.settings.menu_links.title}}</h3>
                  {% for link in block.settings.menu_links.links %}
                      <li class="link-container">
                        <a href="{{ link.handle }}" class="menu-link">
                          {{ link.title }}
                        </a>
                      </li>
                  {% endfor %}
              </ul>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="website-rights">
      <small>© 2023, Lautaro's Store Powered by Shopify</small>
    </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "brand_name",
        "label": "Brand Name"
      }, {
        "type": "text",
        "id": "footer_description",
        "label": "Description",
        "default": "Lo que querés encontrar, acá lo tenemos."
      }
    ],
    "blocks": [
      {
        "type": "footer_menu",
        "name": "Menu Links",
        "limit": 3,
        "settings": [
          {
            "type": "link_list",
            "id": "menu_links",
            "label": "Links"
          }
        ]
      }, {
        "type": "footer_social",
        "name": "Social",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Social Title"
          }, {
            "type": "url",
            "id": "link",
            "label": "Social Link"
          }
        ]
      }
    ]
  }
{% endschema %}

    