<div class="tabs-container">
	<div class="tab-selector">
		<div class="tab-option">
			{% for block in section.blocks %}
  	 		<button class="tab-button" onclick="tabActivate(event, '{{ block.id }}')" id="defaultOpen">
					{{ block.settings.button_title }}
				</button>
			{% endfor %}
  	</div>
	</div>
	
	{% for block in section.blocks %}
  	<div class="tab-wrapper" id="{{ block.id }}">
			<div class="tab">
				<h2 class="tab-title">
					{{ block.settings.tab_title }}
				</h2>
    		<p class="tab-text">
					{{ block.settings.tab_text }} 
				</p>
			</div>
  	</div>
	{% endfor %}
</div>

<script>
	document.getElementById("defaultOpen").click();
  function tabActivate(evt, tabId) {
		var i, tabWrapper, tabButton;
		tabWrapper = document.getElementsByClassName("tab-wrapper")
		for (i = 0; i < tabWrapper.length; i++) {
			tabWrapper[i].style.display = "none";
		}
		tabButton = document.getElementsByClassName("tab-button")
		for (i = 0; i < tabButton.length; i++) {
			tabButton[i].className = tabButton[i].className.replace(" selected", "")
		}
		document.getElementById(tabId).style.display = "block"
		evt.currentTarget.className += " selected"
	}
</script>

{% schema %}
{
	"name": "tabs",
	"max_blocks": 5,
  "blocks": [
    {
      "name": "Tabs",
      "type": "tabs",
      "settings": [
				{
					"type": "text",
					"id": "button_title",
					"label": "Button Title",
					"default": "Tab Button"
				},
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
          "default": "Tab Title"
        },
        {
          "type": "textarea",
          "id": "tab_text",
          "label": "Tab Text",
          "default": "Tab Text"
        }
      ]
		}
	]
}
{% endschema %}